/.idea
Kurajj.iml
/bin
/db_data
# Ignore Gradle project-specific cache directory
.gradle
build/docker-compose/pgadmin
build/docker-compose/queries.yaml

# Ignore Gradle build output directory
kurajj-openssl-ca.cnf
*.tgz
*.out
cover.html
synth.lock
configs/gmail.yaml
configs/message.yaml
configs/auth.yaml
configs/db.yaml
.env

# Ignore mock files

internal/repository/mocks/
internal/repository/mocks