/.idea
Kurajj.iml
/bin
/db_data
# Ignore Gradle project-specific cache directory
.gradle
build/docker-compose/pgadmin
build/docker-compose/queries.yaml

# Ignore Gradle build output directory
kurajj-openssl-ca.cnf

configs/gmail.yaml
.env

# Ignore mock files

internal/repository/mocks/
internal/repository/mocks